################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CadastroPessoas
/CadastroPessoas.Test/appsettings.json
/CadastroPessoas.View/appsettings.json
